.first-section{
  padding: 10%;
  text-align: center;
  background-image: url('/assets/imgs/man-barbershop-salon-doing-haircut-beard-trim1-min.jpg');
  background-repeat: no-repeat;
  background-position: 0% 50%;
  height: 80vh;
  color: white;
}

.second-section{
  background-color: #333333;
}

.third-section{
  padding-bottom: 5%;
}
