footer{
  color: white;
  background-color: black;
  padding: 5vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first p{
  width: 20vw;
  text-align: center;
}

.logo {
  width: 7vw;
  height: 17vh;
  padding: 0 0 3vh 0;
}

.second{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 7vh;
}

.second h1{
  margin-bottom: 2vh;
}

.second p{
  margin-bottom: 2vh;
}

.second a:nth-child(odd){
  font-weight: 700;
  font-size: larger;
  color: #b8a269;
  cursor: pointer;
}

.second a:nth-child(odd):hover{
  color: #ffffff;
}

.second a:nth-child(even){
  font-weight: 700;
  font-size: larger;
  color: #b8a269;
  cursor: pointer;
}

.second a:nth-child(even):hover{
  color: #ffffff;
}

.third{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

.whatsapp-logo{
  width: 4vw;
  height: 4vw;
  margin-bottom: 2vh;
}

.third h1{
  margin-bottom: 2vh;
}

.third p {
  width: 18vw;
  text-align: center;
  margin-bottom: 2vh;
  font-size: large;
}
@media (min-width: 1921px){}
@media (min-width: 1200px) and (max-width: 1440px){}
@media (min-width: 992px) and (max-width: 1199px){}
@media (min-width: 768px) and (max-width: 991px){}
@media (min-width: 576px) and (max-width: 767px){
  footer{
    flex-direction: column;
    gap: 5vh;
  }

  .logo{
    width: 15vw;
    height: auto;
  }

  .first p, .second p, .third p{
    width: 40vw;
    gap: 2vh;
  }
}
@media (max-width: 576px){
  footer{
    flex-direction: column;
    gap: 5vh;
  }

  .logo{
    width: 15vw;
    height: auto;
  }

  .first p, .second p, .third p{
    width: 40vw;
    gap: 2vh;
  }
}
@media (max-width: 480px){
  footer{
    flex-direction: column;
    gap: 5vh;
  }

  .logo{
    width: 15vw;
    height: auto;
  }

  .first p, .second p, .third p{
    width: 40vw;
    gap: 2vh;
  }
}
