<section class="aboutus_section">
        <div class="grayz">
            <div class="background-image">
                <img src="assets/imgs/medium-shot-man-getting-haircut2-min.jpg" alt="">
            </div>
        </div>
    <div class="about-us-txt">
            <h1>ABOUT US</h1>
            <p>We build our passion for the art of barbering through <br> our commitment to our customers. </p>
            <button>BOOK AN APPOINTMENT</button>
    </div>
</section>

<section class="workinghours_section">
    <div class="barber_head">
        <h1>Welcome to the Best <br> Barbershop in Manhattan</h1>
    </div>

    <div class="working_hours">
        <mini-working-hours></mini-working-hours>
    </div>
</section>

<section class="carusel_section">
    <div class="carusel_head">
            <h1>OUR HISTORY</h1>
            </div>
     <swiper-container
      loop="true"
      navigation="true"
      speed="1400"
      autoplay="false"
      centered-slides="false"
      [breakpoints]="{
        '300': {
          slidesPerView: 3,
        },
      }"
    >
      <swiper-slide>
        <h1>2007</h1>
        <br>
        <p class="swiper-txt">Duis aute irure dolor in reprehenderit in<br>
        voluptate velit esse cillum dolore eu fugiat nulla<br>
        pariatur.Excepteur sint occaecat cupidatat non<br>
        proident,sunt in culpa qui officia deserunt mollit<br>
        anim id est laborum.
        </p>
      </swiper-slide>

      <swiper-slide>
        <h1>2012</h1>
        <br>
        <p class="swiper-txt">Duis aute irure dolor in reprehenderit in<br>
        voluptate velit esse cillum dolore eu fugiat nulla<br>
        pariatur.Excepteur sint occaecat cupidatat non<br>
        proident,sunt in culpa qui officia deserunt mollit<br>
        anim id est laborum.</p>
      </swiper-slide>

      <swiper-slide>
        <h1>2016</h1>
        <br>
        <p class="swiper-txt">Duis aute irure dolor in reprehenderit in<br>
        voluptate velit esse cillum dolore eu fugiat nulla<br>
        pariatur.Excepteur sint occaecat cupidatat non<br>
        proident,sunt in culpa qui officia deserunt mollit<br>
        anim id est laborum.</p>
      </swiper-slide>

      <swiper-slide>
        <h1>2020</h1>
        <br>
        <p class="swiper-txt">Duis aute irure dolor in reprehenderit in<br>
        voluptate velit esse cillum dolore eu fugiat nulla<br>
        pariatur.Excepteur sint occaecat cupidatat non<br>
        proident,sunt in culpa qui officia deserunt mollit<br>
        anim id est laborum.</p>
      </swiper-slide>

      <swiper-slide>
        <h1>2024</h1>
        <br>
        <p class="swiper-txt">Duis aute irure dolor in reprehenderit in<br>
        voluptate velit esse cillum dolore eu fugiat nulla<br>
        pariatur.Excepteur sint occaecat cupidatat non<br>
        proident,sunt in culpa qui officia deserunt mollit<br>
        anim id est laborum.</p>
      </swiper-slide>

    </swiper-container>
</section>

<section class="barbers_section">
    <mini-our-barbers></mini-our-barbers>
</section>

<section class="premium-section">
    <mini-the-premium-services></mini-the-premium-services>
</section>
