<section class="aboutus_section">
        <div class="grayz">
            <div class="piskaromi">
                <img src="assets/imgs/medium-shot-man-getting-haircut2-min.jpg" alt="">
            </div>
        </div> 
    <div class="ochkoromi">
            <h1>ABOUT US</h1>
            <p>We build our passion for the art of barbering through <br> our commitment to our customers. </p>
            <button>BOOK AN APPOINTMENT</button>
    </div>
</section>

<section class="workinghours_section">
    <div class="barber_head">
        <h1>Welcome to the Best <br> Barbershop in Manhattan</h1>
    </div>

    <div class="working_hours">
        <mini-working-hours></mini-working-hours>
    </div>
</section>

<section class="carusel_section">
    <!--  -->
</section>

<section class="barbers_section">
    <div class="pro_barbers">
        <p>WE CAN MAKE YOUR AWESOMENESS</p>
    </div>
</section>