<section class="aboutus_section">
        <div class="grayz">
            <div class="piskaromi">
                <img src="assets/imgs/medium-shot-man-getting-haircut2-min.jpg" alt="">
            </div>
        </div>
    <div class="ochkoromi">
            <h1>ABOUT US</h1>
            <p>We build our passion for the art of barbering through <br> our commitment to our customers. </p>
            <button>BOOK AN APPOINTMENT</button>
    </div>
</section>

<section class="workinghours_section">
    <div class="barber_head">
        <h1>Welcome to the Best <br> Barbershop in Manhattan</h1>
    </div>

    <div class="working_hours">
        <mini-working-hours></mini-working-hours>
    </div>
</section>

<section class="carusel_section">
    <div class="carusel_head">
            <h1>OUR HISTORY</h1>
            </div>
     <swiper-container
     loop="true"
      navigation="true"
      speed="1400"
      autoplay="false"
      slides-per-view="1"
      centered-slides="true"
      [breakpoints]="{
        '300': {
          slidesPerView: 3,
        },
      }"
    >
      <swiper-slide>
        <h1>2007</h1>
        <p>Duis aute irure dolor in reprehenderit in<br>
        voluptate velit esse cillum dolore eu fugiat nulla<br>
        pariatur.Excepteur sint occaecat cupidatat non<br>
        proident,sunt in culpa qui officia deserunt mollit<br>
        anim id est laborum.
        </p>
      </swiper-slide>

      <swiper-slide>
        <h1>2012</h1>
        <p>Duis aute irure dolor in reprehenderit in<br>
        voluptate velit esse cillum dolore eu fugiat nulla<br>
        pariatur.Excepteur sint occaecat cupidatat non<br>
        proident,sunt in culpa qui officia deserunt mollit<br>
        anim id est laborum.</p>
      </swiper-slide>

      <swiper-slide>
        <h1>2016</h1>
        <p>Duis aute irure dolor in reprehenderit in<br>
        voluptate velit esse cillum dolore eu fugiat nulla<br>
        pariatur.Excepteur sint occaecat cupidatat non<br>
        proident,sunt in culpa qui officia deserunt mollit<br>
        anim id est laborum.</p>
      </swiper-slide>

      <swiper-slide>
        <h1>2020</h1>
        <p>Duis aute irure dolor in reprehenderit in<br>
        voluptate velit esse cillum dolore eu fugiat nulla<br>
        pariatur.Excepteur sint occaecat cupidatat non<br>
        proident,sunt in culpa qui officia deserunt mollit<br>
        anim id est laborum.</p>
      </swiper-slide>

      <swiper-slide>
        <h1>2024</h1>
        <p>Duis aute irure dolor in reprehenderit in<br>
        voluptate velit esse cillum dolore eu fugiat nulla<br>
        pariatur.Excepteur sint occaecat cupidatat non<br>
        proident,sunt in culpa qui officia deserunt mollit<br>
        anim id est laborum.</p>
      </swiper-slide>

    </swiper-container>
</section>

<section class="barbers_section">
    <mini-our-barbers></mini-our-barbers>
</section>

<section class="prmium-section">
  <div class="premium-sigmaboy">
    <h1 class="title">We provide premium class services</h1>
  </div>

  <div class="services">
   <button><a href="" class="to-uppercase">Beard and mustache trim</a></button>
   <button><a href="" class="to-uppercase">Royal shave</a></button>
   <button><a href="" class="to-uppercase">Hair coloring</a></button>
   <button><a href="" class="to-uppercase">Cuts and fades</a></button>
  </div>
  <div class="services-board">
    <div class="services-image">
      <img src="assets\imgs\hipster-style-bearded-man.jpg" alt="">
    </div>
    <div class="services-txt">
      <b>Sample text. Click to select the text box. Click again or double click to start editing the text. Duis <br>
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</b>

        <p>Sample text. Click to select the text box. Click again or double click to start editing the text. Duis aute <br>
           irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>
</section>
