.piskaromi, .piskaromi img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.grayz{
    background-color: black;
    width: 100%;
    height: 90vh;
    opacity: 0.5;
    z-index: 0;
}

.ochkoromi{
    position: absolute;
    top: 40vh;
    left: 24vw;
    color: white;
    text-align: center;
    width: 50%;
    height: 100%;
    z-index: 100;
}

.ochkoromi h1{
    font-size: 4rem;
    padding: 10px;
}

.ochkoromi p{
    font-size: 1.5rem;
    padding: 10px;
    width: 100%;
}

.ochkoromi button{
    background-color: #b8a269;
    color: #fff;
    width: 15vw;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
}

.ochkoromi button:hover{
    background-color: white;
    color: #b8a269;
}

.barber_head{
    font-size:1.3rem;
    color: white;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 3px;
}

.working_hours{
    width: 70%;
    margin-left: 23vw;
}

.carusel_head{
    text-align: center;
    padding-bottom: 2rem;
}

.carusel_section{
    margin-left: 25vw;
    width: 50%;
    height: 50vh;
    color: white;
    position: relative;
    text-align: left;
}


swiper-container::part(button-next),
swiper-container::part(button-prev) {
  background: #b8a269;
  opacity: 0.9;
  color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  padding: 10px;
}

.barbers_section{
background-color: #333333;
width: 100%;
height: auto;  
}

.pro_barbers{
    color: white;
    text-align: center;
    padding: 2em;
}

.barbers-fuckers{
    padding: 2em;
}

.feedback{
    text-align: center;
    padding-bottom: 4em;
}

.feedback a{
    color: white;
    text-decoration: underline;
}

.title{
    color: white;
    text-align: center;
}

.services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.services a{
    color: white;
    text-decoration: none;
    padding: 1em;
    font-size: medium;
    display: inline-block;
}

.services button{
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0.5em;
}

.services-board{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-image img{
    border-radius: 50%;
    height: 20vh;
    width: 10vw;
}

.services-txt{
    text-align: center;
    padding: 1em;
}

.services-txt p{
    padding-top: 2em;
}