.background-image, .background-image img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.grayz{
    background-color: black;
    width: 100%;
    height: 90vh;
    opacity: 0.5;
    z-index: 0;
}

.about-us-txt{
    position: absolute;
    top: 40vh;
    left: 24vw;
    color: white;
    text-align: center;
    width: 50%;
    height: 100%;
    z-index: 100;
}

.about-us-txt h1{
    font-size: 4rem;
    padding: 10px;
}

.about-us-txt p{
    font-size: 1.5rem;
    padding: 10px;
    width: 100%;
}

.about-us-txt button{
    background-color: #b8a269;
    color: #fff;
    width: 15vw;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
}

.about-us-txt button:hover{
    background-color: white;
    color: #b8a269;
}

.barber_head{
    font-size:1.3rem;
    color: white;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 3px;
}

.working_hours{
    width: 70%;
    margin-left: 23vw;
}

.carusel_head{
    text-align: center;
    padding-bottom: 2rem;
}

.carusel_section{
    margin: auto;
    width: 70%;
    height: 50vh;
    color: white;
    position: relative;
    text-align: left;
}


swiper-container::part(button-next),
swiper-container::part(button-prev) {
  background: #b8a269;
  opacity: 0.6;
  color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 10px;
  right: 5%;
}

swiper-container::part(button-next):hover,
swiper-container::part(button-prev):hover {
  background: #fff6df;
  opacity: 0.6;

}

.swiper-txt{
  color: gray;
}

.barbers_section{
  background-color: #333333;
  width: 100%;
  height: auto;
}

.title{
  color: white;
  text-align: center;
}

.premium-section{
  width: 100%;
  padding: 3% 0 3% 0;
}
