@import '../../styles/mixins';
@import '../../styles/variables';

.working-hours{
  display: flex;
  padding: 3.5vh 0 0 0;
}

.working-hours-img{
  padding: 4vh 6vw 4vh 6vw;
}

.working-hours-img img{
  max-width: 15vw;
}

.working-hours-text{
  padding: 2vh 3vw 0 3vw;
  color: white;
}

.lightitalic-text a{
  color: #b8a269;
  text-decoration: underline;
  cursor: pointer;
}

.lightitalic-text a:hover{
  color: white;
}


.working-hours-text p:nth-child(4){
  @include spacing($top: $space-4, $property: 'padding');
}
.working-hours-text p:nth-child(5){
  @include spacing($bottom: $space-4, $property: 'padding');
}
