.working-hours{
  display: flex;
  padding: 3.5vh 0 0 0;
}

.working-hours-img{
  background-color: #2e2d2d;
  padding: 4vh 6vw 4vh 6vw;
}

.working-hours-img img{
  max-width: 15vw;
}

.working-hours-text{
  padding: 2vh 3vw 0 3vw;
  color: white;
}
