@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.working-hours{
  display: flex;
  padding: 3.5vh 0 0 0;
}

.working-hours-img{
  padding: 4vh 6vw 4vh 6vw;
}

.working-hours-img img{
  max-width: 15vw;
}

.working-hours-text{
  padding: 2vh 3vw 0 3vw;
  color: white;
}

.working-hours-text p:nth-child(2){
  @include spacing($bottom: $space-2, $property: 'padding');
}

.lightitalic-text a{
  color: #b8a269;
  text-decoration: underline;
  cursor: pointer;
}

.lightitalic-text a:hover{
  color: white;
}

.working-hours-text p:nth-child(4){
  @include spacing($top: $space-4, $property: 'padding');
}

.working-hours-text p:nth-child(5){
  @include spacing($bottom: $space-4, $property: 'padding');
}


@media (min-width: 1921px){
  .phone-number{
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) and (max-width: 1440px){

}

@media (min-width: 992px) and (max-width: 1199px){

}

@media (min-width: 768px) and (max-width: 991px){

}

@media (min-width: 576px) and (max-width: 767px){
  .working-hours{
    flex-direction: column;
  }
}

@media (max-width: 576px){
  .working-hours{
    flex-direction: column;
  }
}

@media (max-width: 480px){
  .working-hours{
    flex-direction: column;
  }
}
