.first{
  background-image: url('/assets/imgs/Homepagebarber.jpg');
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  height: 60vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third{
  padding: 0 0 5% 0;
}
