<section class="our-barbers">
    <div class="barber-list">
        <div class="barber-card">
            <img src="assets\imgs\y554.jpg" alt="Barber 1">
            <h4 class="beige">Owner</h4>
            <h1>Fred Morrison</h1>
        </div>
        <div class="barber-card">
            <img src="assets\imgs\4234.jpg" alt="Barber 2">
            <h4 class="beige">Barber / Stylist</h4>
            <h1>Adrian Scold</h1>
        </div>
        <div class="barber-card">
            <img src="assets\imgs\56346.jpg" alt="Barber 3">
            <h4 class="beige">Barber / Stylist</h4>
            <h1>Elmer Briggs</h1>
        </div>
         <div class="barber-card">
            <img src="assets\imgs\42w35.jpg" alt="Barber 1">
            <h4 class="beige">Barber / Stylist</h4>
            <h1>James Oliver</h1>
        </div>
        <div class="barber-card">
            <img src="assets\imgs\452436.jpg" alt="Barber 2">
            <h4 class="beige">Barber / Stylist</h4>
            <h1>Walter Lilly</h1>
        </div>
        <div class="barber-card">
            <img src="assets\imgs\46346.jpg" alt="Barber 3">
            <h4 class="beige">Barber / Stylist</h4>
            <h1>Alex Green</h1>
        </div>
    </div>
</section>
