<section class="contact-head">
    <div class="contact-banner">
        <div class="contimg">
            <div class="garyz">
            <img src="assets\imgs\man-getting-his-hair-trimmed-with-trimmer4-min (1).jpg" alt="">
            </div>
            <div class="contact-us">
                <h1>CONTACT US</h1>
                <p>Image from <a>Freepik</a> </p>
            </div>
        </div>
    </div>
</section>

<section class="welcome-section">
    <div class="txt">
        <h1>Welcome to the Best <br> Barbershop in Manhattan</h1>
    </div>

    <div class="work-hours">
        <mini-working-hours></mini-working-hours>
    </div>

    <div class="barber-slider">
        <swiper-container
     loop="true"
      navigation="true"
      speed="1400"
      autoplay="false"
      slides-per-view="1"
      centered-slides="true"
      [breakpoints]="{
        '100': {
          slidesPerView: 3,
        },
      }"
    >
      <swiper-slide class="size">
        <img src="assets\imgs\woman-combing-stylish-man_23-214 (1).jpg" alt="">
      </swiper-slide>

      <swiper-slide class="size">
        <img src="assets\imgs\stylish-man-sitting-barbershop_1 (1).jpg" alt="">
      </swiper-slide>

      <swiper-slide class="size">
        <img src="assets\imgs\man-getting-his-hair-washed-barb (1).jpg" alt="">
      </swiper-slide>

      <swiper-slide class="size">
        <img src="assets\imgs\side-view-man-getting-haircut_23 (1).jpg" alt="">
      </swiper-slide>

      <swiper-slide class="size">
        <img src="assets\imgs\stylish-man-sitting-barbershop_11 (1).jpg" alt="">
      </swiper-slide>

      <swiper-slide class="size">
        <img src="assets\imgs\serious-man-while-shaving-him5.jpg" alt="">
      </swiper-slide>

      <swiper-slide class="size">
        <img src="assets\imgs\man-cuts-his-beard-barbershop_111.jpg" alt="">
      </swiper-slide>

    </swiper-container>
    </div>
</section>

<section class="GetItTouch-section">
    <div class="get-img">
        <img src="\assets\imgs\pexels-pixabay-90764.jpg" alt="">
    </div>
</section>