.first{
  height: 50vh;
  background-image: url('/assets/imgs/man-getting-his-hair-trimmed-with-trimmer4-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.first .main-title{
  text-shadow: 1px 1px 50px #000;
}

.second{
  padding: 4vh;
}

.second-info{
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.second-info .title{
  width: 40%;
  text-align: center;
}

.third{
  background-image: url('/assets/imgs/pexels-pixabay-90764.jpg');
  background-position: 50% 50%;
  height: 85vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.third-content{
  margin-left: 50%;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  text-align: center;
}

.third-content p{
  width: 60%;
}

form{
  border: 10px solid #b8a269;
  display: flex;
  flex-direction: column;
  padding: 4vh;
  width: 80%;
}

form input, form textarea{
  margin: 1vh 0;
  padding: 1vh;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  border-bottom: 2px solid #b8a269;
  color: white;
}

form button{
  margin-top: 1vh;
  padding: 2vh;
  border: none;
  outline: none;
  background-color: #b8a269;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover{
  background-color: #af9655;
  color: white;
}
