<main>

  <section class="first">
    <h1 class="main-title">CONTACT US</h1>
  </section>

  <section class="second">
    <div class="second-info">
      <h1 class="title">Welcome to the Best Barbershop in Manhattan</h1>
      <mini-working-hours></mini-working-hours>
    </div>
    <mini-contactus-slider></mini-contactus-slider>
  </section>

  <section class="third">
    <div class="third-content">
      <h1 class="title">Get in Touch</h1><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus minus nostrum dolore, odio quia similique perspiciatis inventore enim maxime quasi laudantium beatae quod quidem tempore ex? Sapiente blanditiis ducimus ea.</p><br>
      <form action="#">
        <input type="text" placeholder="Enter your Name" required>
        <input type="email" placeholder="Enter your Email" required>
        <textarea rows="5" placeholder="Enter your Message (optional)"></textarea>
        <button type="submit">SUBMIT</button>
      </form>
    </div>
  </section>

</main>
