// swiper styles
@use 'swiper/css' as *;
@use 'swiper/css/navigation' as *;
@use 'swiper/css/pagination' as *;

// Global styles
@use 'app/styles/mixins.scss' as *;
@use 'app/styles/variables.scss' as *;
@use 'app/styles/utilities.scss' as *;

//  Colors

.white{
  color: #ffffff;
}

.beige{
  color: #b8a269;
}


// Fonts

* {
  font-family: 'NotoSans-medium', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'NotoSans-light';
  src: url('/assets/fonts/NotoSans-Light.ttf');
}

@font-face {
  font-family: 'NotoSans-medium';
  src: url('/assets/fonts/NotoSans-Medium.ttf');
}

@font-face {
  font-family: 'NotoSans-lightitalic';
  src: url('/assets/fonts/NotoSans-LightItalic.ttf');
}

@font-face {
  font-family: 'NotoSans-bold';
  src: url('/assets/fonts/NotoSans-ExtraBold.ttf');
}

.light-text {
  font-family: 'NotoSans-light', sans-serif;
}

.extrabold-text {
  font-family: 'NotoSans-bold', sans-serif;
}

.lightitalic-text {
  font-family: 'NotoSans-lightitalic', sans-serif;
}

.main-title{
  font-family: 'NotoSans-bold', sans-serif;
  font-size: 7em;
  text-transform: uppercase;
}

.title{
  font-family: 'NotoSans-bold', sans-serif;
  font-size: 3em;
}

.title-light{
  font-family: 'NotoSans-light', sans-serif;
  font-size: 2em;
}

.title-small{
  font-family: 'NotoSans-light', sans-serif;
  font-size: 1.4em;
  padding: 1vh 0;
}

.subtitle{
  font-family: 'NotoSans-light', sans-serif;
  font-size: 1.2em;
}

.phone-number{
  cursor: pointer;
  color: #b8a269;
  font-family: 'NotoSans-bold', sans-serif;
  font-size: 1.2em;
}

.phone-number:hover{
  color: #7e6f4b;
}

.to-uppercase{
  text-transform: uppercase;
}
// Buttons

.bookbtn{
  cursor: pointer;
  background-color: #b8a269;
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  border: none;
}

.big-bookbtn{
  cursor: pointer;
  background-color: #b8a269;
  color: white;
  max-width: 50vw;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  border: none;
  text-transform: uppercase;
}

.white-bookbtn{
  cursor: pointer;
  background-color: transparent;
  color: white;
  max-width: 50vw;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'NotoSans-light', sans-serif;
  border: 2px solid white;
  text-transform: uppercase;
}

.bookbtn:hover{
  background-color: #7e6f4b;
}

.big-bookbtn:hover{
  background-color: #ffffff;
  color: #b8a269;
}

.white-bookbtn:hover{
  background-color: #fff;
  color: #b8a269;
}

// Decorations

.line{
  background-color: #b8a269;
  height: 2px;
  width: 10vw;
}

.dark-line{
  background-color: #7e7e7e;
  height: 1px;
  width: 37vw;
}


body{
  background-color: #1a1a1a;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

@media (min-width: 1921px){
  .title{
    font-size: 6em;
  }

  .title-light{
    font-size: 4em;
  }

  .subtitle{
    font-size: 2em;
  }

  .bookbtn{
    max-width: 30vw;
    padding: 13px 26px;
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) and (max-width: 1440px){
  .bookbtn{
    width: 15vw;
    padding: 10px 20px;
    font-size: medium;
  }

  .main-title{
    font-size: 5em;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .main-title{
    font-size: 4em;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .main-title{
    font-size: 4em;
  }
}

@media (min-width: 576px) and (max-width: 767px){
  .main-title{
    font-size: 4em;
  }
}

@media (max-width: 576px){
  .main-title{
    font-size: 3em;
  }

  .title{
    font-size: 2em;
  }

  .title-light{
    font-size: 2em;
  }
}

@media (max-width: 480px){
  .main-title{
    font-size: 2.5em;
  }

  .title-light{
    font-size: 1em;
  }
}
