@use '../styles/mixins.scss' as *;
@use '../styles/variables.scss' as *;

.first-section{
  height: 100vh;
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  color: white;
}

.first-section-img{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.first-section-text{
  max-width: 55vw;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 1;
}

.first-section-text p:nth-child(2){
  @include spacing($top: $space-0, $bottom: $space-3, $property: 'padding');
}

.second-section{
  padding: 10vh 12vw 5vh 12vw;
}

.second-section p{
  width: 44vw;
  padding: 0 0 8vh 0 ;
}

.second-section-photos{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-section-first-photo{
  background-image: url(/assets/imgs/hipster-style-bearded-man.jpg);
  background-position: 50% 14.94%;
  min-width: 36.5vw;
  min-height: 38vh;
}

.second-section-second-photo{
  background-image: url(/assets/imgs/man-cuts-his-beard-barbershop.jpg);
  background-position: 40%;
  background-size: cover;
  min-width: 36.5vw;
  min-height: 38vh;
}

.third-section{
  background-color: #2e2d2d;
  color: white;
  padding: 10vh 12vw 5vh 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.third-section-text{
  width: 35.4vw;
}

.third-section-text p:nth-child(2){
  @include spacing($top: $space-0, $bottom: $space-3, $property: 'padding');
}

.third-section-text p:nth-child(4){
  @include spacing($top: $space-4, $bottom: $space-0, $property: 'padding');
}
.third-section-text p:nth-child(5){
  @include spacing($top: $space-3, $bottom: $space-3, $property: 'padding');
}

.third-section-img{
  background-image: url(/assets/imgs/serious-man-while-shaving-him.jpg);
  background-position: 40%;
  background-size: cover;
  min-width: 36.5vw;
  min-height: 59vh;
}

.first-swiper-slide1{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/imgs/medium-shot-man-getting-haircut2-min.jpg);
  background-position: 40%;
  background-size: cover;
  min-width: 100vw;
  min-height: 70vh;
}

.first-swiper-slide2{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/imgs/man-getting-his-hair-trimmed-with-trimmer4-min.jpg);
  background-position: 40%;
  background-size: cover;
  min-width: 100vw;
  min-height: 70vh;
}

.first-swiper-slide3{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/imgs/woman-cutting-hair-man-salon2-min.jpg);
  background-position: 40%;
  background-size: cover;
  min-width: 100vw;
  min-height: 70vh;
}

swiper-container::part(button-next),
swiper-container::part(button-prev) {
  color: #b8a269;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

swiper-container::part(bullet) {
  background-color: gray;
}

swiper-container::part(bullet-active) {
  background-color: #b8a269;
}

.fourth-section{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourth-section h1:nth-child(1){
  @include spacing($top: $space-6, $bottom: $space-3, $property: 'padding');
}
.fourth-section p{
  @include spacing($top: $space-0, $bottom: $space-3, $property: 'padding');
}

.fourth-section-photo{
  background-image: url(/assets/imgs/handsome-man-cutting-beard-barber-4.jpg);
  background-position: 40%;
  background-size: cover;
  width: 30vw;
  height: 52vh;
}

.fourth-section-services{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
}

.services{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 25vh 25vh;
  grid-template-columns: 30vh 30vh;
  gap: 1.2vw;
}

.fourth-img-container{
  background-color: #b8a269;
  text-align: center;
  padding: 25%;
}

.fourth-img-container img{
  width: 4vw;
}

.fifth-section{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/imgs/human-face-expressions-emotions-headshot-young-model-with-thick-beard-posing-with-angry-unfriendly-look3-min.jpg);
  background-position: 50%;
  background-size: cover;
  min-width: 90vw;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #fff;
}

.sale{
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.2;
  padding: 0 12vw 0 0;
}

.sale-bookbtn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 0 7vw;
}

.sale-bookbtn h1{
  text-transform: uppercase;
  font-size: 3em;
  padding: 0 0 2vh 0;
}

.sale-bookbtn i{
  cursor: pointer;
  width: 13vh;
  padding: 0 0 2vh 0;
}


@media (min-width: 1400px){
  .first-section{
    background-repeat: no-repeat;
  }

}

@media (min-width: 1200px) and (max-width: 1399px){

}

@media (min-width: 992px) and (max-width: 1199px){
  .fourth-section-services{
    flex-direction: column;
  }

  .fourth-section-photo{
    width: 51.8vw;
    margin-bottom: 1.2vh;
  }
}

@media (min-width: 768px) and (max-width: 991px){
 .third-section{
  flex-direction: column;
 }

 .third-section-text{
    width: 80vw;
 }
 .third-section-img{
    width: 80vw;
    margin-top: 5vh;
 }

 .fourth-section p:nth-child(2){
  width: 80vw;
  text-align: center;
 }

 .fourth-section-services{
    flex-direction: column;
  }

  .fourth-section-photo{
    width: 80vw;
    margin-bottom: 1.2vh;
  }

  .fourth-img-container img{
    width: 8vw;
  }

  .services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25vh 25vh;
    grid-template-columns: 35vh 35vh;
    gap: 1.2vw;
  }



}

@media (min-width: 576px) and (max-width: 767px){

}

@media (max-width: 576px){

}

@media (max-width: 480px){

}
