swiper-container{
  width: 77%;
  height: auto;
  margin: auto;
}

swiper-container::part(button-next),
swiper-container::part(button-prev) {
  color: gray;
  background-color: lightgrey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 1vh;
}

swiper-container::part(button-next):hover,
swiper-container::part(button-prev):hover {
  color: black;
  background-color: #b8a269;
}

.slide {
  width: 100%;
  height: 100%;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.slide-photo{
  background-position: -90%;
  background-size: cover;
  width: 100%;
  height: 40vh;
  cursor: pointer;
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.6s ease;
}

.slide:hover .slide-photo {
  transform: scale(1.2);
}
